* {
  background-color: blueviolet;
  color: antiquewhite;
}
h1 {
  color: red;
  background-color: aqua;
  font-size: 100px;
  text-align: center;
}

p {
  text-align: center;
  color: lawngreen;
  font-weight: bolder;
}
